<!-- {% extends 'base.html' %}

{% block title %} ITEM_DETAIL {% endblock title %}

{% block content %}
<ul class='list-group'>
    <li class='list-group-item'> ITEM NAME : {{item.item_name}}</li>
    <li class='list-group-item'> ITEM PRICE : {{item.price}}</li>
    <li class='list-group-item'> REGISTERED DATE : {{item.create_at}}</li>
    <li class='list-group-item'> ITEM MANUFACTURER : {{item.maker.name}}</li>
    <li class='list-group-item'> MANUFACTURER TEL : {{item.maker.tel}}</li>
    <li class='list-group-item'> {{item.info|linebreaksbr}} </li>
</ul>

<a href = "{%url 'item:update' item.pk%}" class = 'btn btn-primary mt-2'>수정</a>
<a href = "{%url 'item:delete' item.pk%}" class = 'btn btn-danger mt-2'>삭제</a>

{% endblock content %} -->