<section>
  <nav>
<div>
    {% for info in solution %}
    <div class="card">
        <div class="card-header">
                <a class="card-link"  data-toggle="collapse"  href="#card{{forloop.counter}}" aria-expanded="false" style="color: #FFC107">{{info.address}}</a>
        </div>
        <div id="card{{forloop.counter}}" class="collapse" aria-expanded="false">
            <div class="card-body">
                <table class = 'table'>
                    <thead>
                        <tr>
                            <th>전월세</th>
                            <th>보증금</th>
                            <th>세</th>
                            <th>거래년도</th>
                            <th>면적</th>
                            <th>지하철정보</th>
                        </tr>
                    </thead>
                <tbody>
                    <td>{{info.rent}}</td>
                    <td>{{info.deposit}}</td>
                    <td>{{info.pay}}</td>
                    <td>{{info.contract}}</td>
                    <td>{{info.sizes}}</td>
                    <td>{{info.station_na}}</td>
                    <input type='hidden' id="houselat" value='{{info.latitude}}'>
                    <input type='hidden' id="houselong" value='{{info.longitude}}'>
                </tbody>
                </table>
            </div>
        </div>  
    </div>
    <br>
    {% endfor %}
</div>

<div class="w3-container" style="width:800px">
    <div class="w3-cell-row">
        <div id = 'dataView' div class="w3-cell-row" style="max-width:800px">
            {% if naver %}
            <h5><b>네이버 매물</h5></b>
            <table class = 'table' style="width:750px; font-size:12px">
                <thead>
                    <tr>
                        <th>주소</th>
                        <th>전월세</th>
                        <th>계약면적</th>
                        <th>전용면적</th>
                        <th>보증금</th>
                        <th>세</th>
                        <th>건물이름</th>
                        <th>층</th>
                        <th>계약일</th>
                                    
                    </tr>
                </thead>
                <tbody>
                {% for n in naver %}
                    <tr>
                        <td>{{n.n_address}}</td>
                        <td>{{n.n_rent}}</td>
                        <td>{{n.n_sizes}}</td>
                        <td>{{n.n_size_pros}}</td>
                        <td>{{n.n_deposit}}</td>
                        <td>{{n.n_pay}}</td>
                        <td>{{n.n_name}}</td>
                        <td>{{n.n_floor}}</td>
                        <td>{{n.n_date}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <h5><b>해당되는 네이버 부동산 매물이 없어요 ㅠㅠ<h5><b>
            {% endif %}
        </div>
    </div>

<div style="display: none;">
    {% if con_detail_0 %}
        <table border="1">
        {% for de0 in con_detail_0 %}
        <tr id='one'>
            <td>{{de0.con_name}}</td>
            <td>{{de0.con_addres}}</td>
            <td class='lat'>{{de0.con_latitu}}</td>
            <td class='long'>{{de0.con_longit}}</td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}
    {% if con_detail_1 %}
        <table border="2">
        {% for de1 in con_detail_1 %}
        <tr>
            <td>{{de1.con_name}}</td>
            <td>{{de1.con_addres}}</td>
            <td class='lat2'>{{de1.con_latitu}}</td>
            <td class='long2'>{{de1.con_longit}}</td>
        </tr>
        {% endfor %}
    {% endif %}
    {% if con_detail_2 %}
        <table border="3">
        {% for de2 in con_detail_2 %}
        <tr>
            <td>{{de2.con_name}}</td>
            <td>{{de2.con_addres}}</td>
            <td class='lat3'>{{de2.con_latitu}}</td>
            <td class='long3'>{{de2.con_longit}}</td>
        </tr>
        {% endfor %}
    {% endif %}
</div>
<br style="clear:both"/>
    </div>
    </div>

    </nav>
</section>