{% extends 'base.html' %}
{% block content %}

<div class="w3-content w3-margin-top" style="width:900px; font-family:Noto Sans KR">

    <form name="searchForm" action="{% url 'house:solution' %}" method='GET'>
        {% csrf_token %}
        <br>
        <div class="row">
            <div class="col">
                <h5><b>부동산 유형</b></h5>
                <div class="form-check", style="font-size:17px">
                    <label class="form-check-label">
                    <input type="radio"  name="table" class="form-check-input" value="officetels">오피스텔</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="form-check-label">
                    <input type="radio"  name="table" class="form-check-input" value="villa">빌라</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <label class="form-check-label">
                    <input type="radio"  name="table" class="form-check-input" value="one_two_room">단독다가구</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <div class="col">
                <h5><b>전/월세</b></h5>
                <div class="form-check", style="font-size:17px">
                    <label class="form-check-label">
                    <input type="radio"  name="input_rent" class="form-check-input" value="전세" onclick='a()'>전세</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio"  name="input_rent" class="form-check-input" value="월세" onclick='b()'>월세</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col">
                <h5><b>보증금</h5></b>
                <p>
                <input type='search' id="q1" class="form-control" placeholder="만원 단위로 입력하세요(1000만원인 경우 1000)" name='q1' value='{{ q1 }}'>
            </div>
            <div class="col">
                <div id="rent" style='display:none'>
                <h5><b>월세</h5></b>
                <input type='search' id="q2" class="form-control" placeholder="만원 단위로 입력하세요(40만원인 경우 40)" name='q2' value='{{ q2 }}'>
                </div>
            </div>
        </div>
        <br>
        <h5><b>직장주소</h5></b>
        <input type='search' id='q3' class="form-control" placeholder="(ex. 서울특별시 서초구 효령로)" name='q3' value='{{ q3 }}' style="max-width:1000px">
        <br>
        <p>
        <div class="row">
            <div class="col" style="max-width:105px;">
                <h5><b>편의시설</b></h5>
            </div>
            <div class="cell" style="font-size:15px">
                3개까지 선택
            </div>
        </div>
            <div class="form-check" style="font-size:17px">
                <div class="row">
                    <div class="col" style="max-width:110px;">
                    <input onclick="CountChecked(this)" type="checkbox" class="form-check-input"  name="con_input" value="병원">
                    병원
                    </div>
                    <div class="col" style="max-width:110px;">
                    <input onclick="CountChecked(this)" type="checkbox" class="form-check-input"  name="con_input" value="마트">
                    마트
                    </div>
                    <div class="col" style="max-width:150px;">
                    <input onclick="CountChecked(this)" type="checkbox" class="form-check-input"  name="con_input" value="패스트푸드">
                    패스트푸드
                    </div>
                    <div class="col" style="max-width:110px;">
                    <input onclick="CountChecked(this)" type="checkbox" class="form-check-input"  name="con_input" value="카페">
                    카페
                    </div>
                </div>
            </div>
            <div class="form-check" style="font-size:17px">
                <div class="row">
                    <div class="col" style="max-width:110px;">
                        <input onclick="CountChecked(this)" type="checkbox" class="form-check-input"  name="con_input" value="문화시설">
                        문화시설
                    </div>
                    <div class="col" style="max-width:110px;">
                        <input onclick="CountChecked(this)" type="checkbox" class="form-check-input"  name="con_input" value="편의점">
                        편의점
                    </div>
                    <div class="col" style="max-width:150px;">
                        <input onclick="CountChecked(this)" type="checkbox" class="form-check-input"  name="con_input" value="세탁소">
                        세탁소
                    </div>
                    <div class="col" style="max-width:110px;">
                        <input onclick="CountChecked(this)" type="checkbox" class="form-check-input"  name="con_input" value="다이소">
                        다이소
                    </div>
                    <div class="col" style="max-width:160px;"
                        <input onclick="CountChecked(this)" type="checkbox" class="form-check-input"  name="con_input" value="실내운동시설">
                        실내운동시설
                    </div>
                </div>
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-secondary btn-lg " onclick="ConditionCheck()"><i class="fa fa-search"></i>  검색</button> 
    </form>
</div>

<script>
    function a(){
        document.getElementById('rent').style.display='none';
    }
    function b(){
        document.getElementById('rent').style.display='block';
    }
</script>

<script type="text/javascript">
    var maxCount = 3;								// 카운트 최대값은 2
    var count = 0;   								// 카운트, 0으로 초기화 설정
    function CountChecked(field){ 					// field객체를 인자로 하는 CountChecked 함수 정의
        if (field.checked) {						// 만약 field의 속성이 checked 라면(사용자가 클릭해서 체크상태가 된다면)
            count += 1;								// count 1 증가
        }
        else {										// 아니라면 (field의 속성이 checked가 아니라면)
            count -= 1;								// count 1 감소
        }
        if (count > maxCount) {						// 만약 count 값이 maxCount 값보다 큰 경우라면
            field.checked = false;						// (마지막 onclick한)field 객체의 checked를 false(checked가 아닌 상태)로 만든다.
            count -= 1;									// 이때 올라갔던 카운트를 취소처리해야 하므로 count를 1 감소시킨다.
        }
    }
</script>
{% endblock content %}

