{% extends 'base.html'%}
{% block title %}글목록{% endblock title %}
{% block content %}
<h1>글목록</h1>
<table class = 'table'>
    <thead>
        <tr>
            <th>이름</th>
            <th>주소</th>          
            <th>위도</th>
            <th>경도</th>
        </tr>
    </thead>

    <tbody>
        {% for de in con_detail_0 %}
            <tr>
                <td>{{de.con_name}}</td>
                <td>{{de.con_addres}}</td>
                <td>{{de.con_latitu}}</td>
                <td>{{de.con_longit}}</td>

                
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}